<!DOCTYPE html>
<html>
<head>
  <title>Todo App</title>
  <link rel="stylesheet" type="text/css" href="./fontawesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <div id="app">
    <div class="header">
      <h1>Todos</h1>
    </div>
    <div class="content">
      <div class="task-list">
        <taskitem v-for="(task, index) in task_list"
          v-bind:task="task"
          v-bind:index="index"
          v-on:remove="removeTask"></taskitem>

        <div class="task">
          <i class="add fa fa-plus" v-on:click="addTask()"></i>
          <input class="textinput" type="text" 
            v-model="temp_task"
            v-on:keyup.enter="addTask()"/>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="./vue.js"></script>
<script>
  const task_item = {
    name: 'TodoItem',
    template: `
    <div class="task" v-bind:class="styleTask()">
      <div class="checkbox" v-on:click="switchTaskState()">
        <i class="fa fa-check" v-if="task.done"></i>
      </div>
      <div class="text">{{ task.text }}</div>
      <i class="remove fa fa-times" title="Delete" v-on:click="remove"></i>
    </div>
    `,
    props: [ 'task', 'index' ],
    methods: {
      styleTask() {
        let styleClass = [];
        if(this.task.done) styleClass.push('done');
        return styleClass;
      },
      switchTaskState() {
        this.task.done = !this.task.done;
      },
      remove() {
        this.$emit('remove', this.index);
      }
    }
  }

  const app = new Vue({
    el: '#app',
    components: { 'taskitem': task_item },
    data:{
      temp_task: null,
      task_list: [
        { done: true, text: 'Learn Javascript' },
        { done: false, text: 'Learn ES6' },
        { done: false, text: 'Learn Vue' },
        { done: false, text: 'Build something awesome!' }
      ]
    },
    methods: {
      addTask() {
        this.task_list.push({done: false, text:this.temp_task});
        this.temp_task = null;
      },
      removeTask(index) {
        this.task_list.splice(index, 1);
      }
    }
  });
</script>
</html>